<div class="container">
  <div fxLayout="row" fxLayoutAlign="center start">
    <h1 translate>Pokemon Cards</h1>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayout.lt-sm="column" fxLayoutAlign="space-between center">
    <div fxFlex="25%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%">
      <mat-form-field>
        <mat-label><span translate>Filter by supertypes</span></mat-label>
        <mat-select (selectionChange)="applyFilterSupertypes()" [(ngModel)]="supertypes">
          <mat-option><span translate>All</span></mat-option>
          <mat-option *ngFor="let supertypes of supertypesList" [value]="supertypes"> {{ supertypes }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="25%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%">
      <mat-form-field>
        <mat-label><span translate>Filter by subtypes</span></mat-label>
        <mat-select (selectionChange)="applyFilterSubtypes()" [(ngModel)]="subtypes">
          <mat-option><span translate>All</span></mat-option>
          <mat-option *ngFor="let subtypes of subtypesList" [value]="subtypes"> {{ subtypes }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="25%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%">
      <mat-form-field>
        <mat-label><span translate>Filter by types</span></mat-label>
        <mat-select (selectionChange)="applyFilterTypes()" [(ngModel)]="types">
          <mat-option><span translate>All</span></mat-option>
          <mat-option *ngFor="let types of typesList" [value]="types"> {{ types }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxFlex="25%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%">
      <button mat-flat-button color="primary" (click)="applyAllFilters()">
        <span translate>Apply Filters</span>
      </button>
    </div>
  </div>

  <br />

  <div fxLayout="row" fxLayoutAlign="center start">
    <app-loader [isLoading]="isLoading"></app-loader>
  </div>

  <div *ngIf="isRecordsFound" fxLayout="row" fxLayoutAlign="center start">No records found</div>

  <div
    fxLayout="row wrap"
    fxLayoutGap="16px grid"
    fxLayout.lt-sm="column"
    fxLayoutAlign="start center"
    fxLayoutAlign.lt-sm="center center"
  >
    <ng-container *ngFor="let card of cards$ | async">
      <div fxFlex="25%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <span fxFlex> {{ card.name }}</span>
                <small [hidden]="!card.hp">HP: {{ card.hp }}</small>
              </div>
            </mat-card-title>
            <mat-card-subtitle>
              <p>
                <strong> Supertype:</strong> {{ card.supertype }} <br />
                <strong> Subtypes:</strong>
                <span *ngFor="let item of card.subtypes">{{ item }}</span> <br />

                <span *ngFor="let item of card.types">
                  <strong>Types:</strong>
                  {{ item }}
                </span>
              </p>
            </mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <div class="img-placeholder">
              <img src="{{ card.images.small }}" alt="{{ card.name }}" loading="lazy" />
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-container>
  </div>
  <br />
  <mat-paginator
    *ngIf="!isRecordsFound"
    #paginator
    [length]="totalCount"
    [pageSize]="pageSize"
    [pageSizeOptions]="[10, 20, 50, 100, 200]"
    showFirstLastButtons
  >
  </mat-paginator>
</div>
