<div class="container">
  <mat-card>
    <div class="logo">
      <img src="assets/pokemon.jpeg" alt="pockemon logo" />
    </div>
    <mat-card-content>
      <mat-card-title translate>Hello Pokemon !</mat-card-title>
      <mat-card-subtitle> </mat-card-subtitle>
      <mat-card-actions>
        <button
          mat-raised-button
          angulartics2On="click"
          angularticsAction="Click button show cards"
          angularticsCategory="home"
          [routerLink]="['/card']"
          [queryParams]="{ page: 1, pageSize: 10, orderBy: 'name' }"
          queryParamsHandling="merge"
        >
          <span translate> Click to see cards </span>
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
