/* stylelint-disable selector-no-qualifying-type */
@use "sass:map";
@use "@angular/material" as mat;
@use "@angular/material/theming";

// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-legacy-typography-config());`
@include mat.all-legacy-component-typographies;
@include mat.legacy-core();

@mixin style-theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, "primary");
  $accent: map.get($color-config, "accent");
  $warn: map.get($color-config, "warn");
  $background: map.get($color-config, "background");
  $background-card: map.get($color-config, "background");
  $foreground: mat.get($foreground, text);
  $app-bar: mat.color($background, app-bar);
  $primary-contrast: mat.color($primary, default-contrast);
  $accent-contrast: mat.color($accent, default-contrast);
  $warn-contrast: mat.color($warn, default-contrast);

  .color.primary {
    color: $primary;
  }

  .color.accent {
    color: $accent;
  }

  .color.warn {
    color: $warn;
  }

  .background.primary {
    background-color: $primary;
    color: $primary-contrast;
  }

  .background.accent {
    background-color: $accent;
    color: $accent-contrast;
  }

  .background.warn {
    background-color: $warn;
    color: $warn-contrast;
  }

  .background.card {
    background-color: $background-card;
  }

  .background.stacked {
    background-color: $background;
  }

  code.snippet,
  a.link {
    color: $primary;
  }

  a.link,
  a.link:visited {
    text-decoration: none;
  }

  code.snippet.alt,
  a.link:visited {
    color: $accent;
  }

  mat-paginator.mat-paginator {
    background-color: $background;
  }

  a.mat-list-item.active,
  a.mat-tab-link.active {
    color: $primary;
  }

  text {
    fill: $foreground;
  }
}

html,
body,
app,
.app-panel {
  overflow: hidden;
  margin: 0;
  height: 100%;
}

.app-body {
  height: 100%;
  overflow: auto;
}

.mat-typography h1,
.mat-typography h2,
.mat-typography h3,
.mat-typography h4,
.mat-typography h5,
.mat-typography h6,
.mat-typography p,
mat-form-field.mat-form-field {
  margin: 8px;
}

mat-toolbar.mat-toolbar.app-toolbar {
  padding: 0 8px;

  button.mat-icon-button {
    margin-right: 8px;
  }
}

mat-toolbar.mat-toolbar {
  span {
    margin-right: 4px;
    margin-left: 4px;
  }

  button.mat-button {
    margin-left: 4px;
    margin-right: 4px;
  }
}

a.mat-tab-link {
  min-width: 80px;
}

.container {
  padding: 4px;
}

.card {
  margin: 4px;
}

.clickable {
  cursor: pointer;
}

img.thumbnail {
  height: 80px;
}

img.profile-image {
  height: 200px;
}

.static-elevation {
  @include mat-elevation(2);
}

.elevated {
  @include mat-elevation-transition;
  @include mat-elevation(2);

  &:hover {
    @include mat-elevation(6);
  }
}
