<div class="container">
  <div fxLayout="row" fxLayoutAlign="center start">
    <h1 translate>Pokemon Cards</h1>
  </div>
  <!-- <div fxLayout="row wrap" fxLayoutGap="16px grid" fxLayout.lt-sm="column" fxLayoutAlign="space-between center">
    <div fxFlex="25%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%">
      <mat-form-field>
        <mat-label><span translate>Filter by supertypes</span></mat-label>
        <mat-select [(ngModel)]="filters.supertypes">
          <mat-option><span translate>All</span></mat-option>
          <mat-option *ngFor="let supertypes of supertypesList" [value]="supertypes"> {{ supertypes }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="25%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%">
      <mat-form-field>
        <mat-label><span translate>Filter by types</span></mat-label>
        <mat-select [(ngModel)]="filters.types">
          <mat-option><span translate>All</span></mat-option>
          <mat-option *ngFor="let types of typesList" [value]="types"> {{ types }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex="25%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%">
      <mat-form-field>
        <mat-label><span translate>Filter by subtypes</span></mat-label>
        <mat-select [(ngModel)]="filters.subtypes">
          <mat-option><span translate>All</span></mat-option>
          <mat-option *ngFor="let subtypes of subtypesList" [value]="subtypes"> {{ subtypes }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
      <button fxFlex mat-flat-button color="primary" (click)="applyAllFilters()">
        <span translate>Apply Filters</span>
      </button>
      <button fxFlex mat-button color="primary" (click)="clearFilters()">
        <span translate>Clear Filters</span>
      </button>
    </div>
  </div>

  <br /> -->

  <div class="flex-container">
    <mat-form-field>
      <mat-label>Search characters by name</mat-label>
      <input matInput #search (keyup)="searchTerm$.next(search.value)" [formControl]="searchField" />
      <button
        mat-button
        *ngIf="search.value !== ''"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="search.value = ''; searchTerm$.next(search.value); status = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <small class="no-character-found" *ngIf="resultsEmpty$ | async"> No character found for this search </small>
  </div>

  <div class="flex-container">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <mat-select (selectionChange)="applyFilter()" [(ngModel)]="status">
        <mat-option [value]="''">Todos</mat-option>
        <mat-option *ngFor="let status of supertypesList" [value]="status"> {{ status }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="6px" fxLayoutAlign="center center">
    <div fxFlex="20">
      <mat-form-field appearance="fill">
        <mat-label><span translate>Filter by supertypes</span></mat-label>
        <mat-select [formControl]="supertypeValueFormControl">
          <mat-option><span translate>All</span></mat-option>
          <mat-option *ngFor="let supertypes of supertypesList" [value]="supertypes"> {{ supertypes }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field appearance="fill">
        <mat-label><span translate>Filter by types</span></mat-label>
        <mat-select [formControl]="typesValueFormControl">
          <mat-option><span translate>All</span></mat-option>
          <mat-option *ngFor="let types of typesList" [value]="types"> {{ types }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxFlex>
      <mat-form-field appearance="fill">
        <mat-label><span translate>Filter by subtypes</span></mat-label>
        <mat-select [formControl]="subtypesIdValueFormControl">
          <mat-option><span translate>All</span></mat-option>
          <mat-option *ngFor="let subtypes of subtypesList" [value]="subtypes"> {{ subtypes }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div *ngIf="characters$ | async as cardsList; else loading">
    <div class="card-content">
      <div
        fxLayout="row wrap"
        fxLayoutGap="16px grid"
        fxLayout.lt-sm="column"
        fxLayoutAlign="start center"
        fxLayoutAlign.lt-sm="start center"
      >
        <ng-container *ngFor="let card of cardsList">
          <div fxFlex="25%" fxFlex.lt-md="50%" fxFlex.lt-sm="100%">
            <mat-card>
              <mat-card-header>
                <mat-card-title>
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                    <span fxFlex> {{ card.name }}</span>
                    <small [hidden]="!card.hp">HP: {{ card.hp }}</small>
                  </div>
                </mat-card-title>
                <mat-card-subtitle>
                  <p>
                    <strong> Supertype:</strong> {{ card.supertype }} <br />
                    <strong> Subtypes:</strong>
                    <span *ngFor="let item of card.subtypes">{{ item }}</span> <br />

                    <span *ngFor="let item of card.types">
                      <strong>Types:</strong>
                      {{ item }}
                    </span>
                  </p>
                </mat-card-subtitle>
              </mat-card-header>

              <mat-card-content>
                <div class="img-placeholder">
                  <img src="{{ card.images.small }}" alt="{{ card.name }}" loading="lazy" />
                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <ng-template #loading>
    <div fxLayout="row" fxLayoutAlign="center start">
      <app-loader isLoading="true"></app-loader>
    </div>
  </ng-template>
  <br />
  <mat-paginator [length]="resultsLength" [pageSize]="20" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
  </mat-paginator>
</div>
