<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
  <div fxHide.gt-sm fxLayoutAlign="start center">
    <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">{{ title }}</span>
  </div>
  <div fxHide.lt-md>
    <a class="brand">Pokémon TCG</a>
    <button mat-button routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span translate>Home</span>
    </button>
    <button mat-button routerLink="/about" routerLinkActive="active">
      <mat-icon>info</mat-icon>
      <span translate>About</span>
    </button>
    <button
      mat-button
      [routerLink]="['/card']"
      [queryParams]="{ page: 1, pageSize: 10, orderBy: 'name' }"
      routerLinkActive="active"
    >
      <mat-icon>find_in_page</mat-icon>
      <span translate>Card</span>
    </button>
  </div>
  <span fxFlex></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>format_color_fill</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="changeTheme()">
      <span translate>Change Theme</span>
    </button>
  </mat-menu>
  <app-language-selector [icon]="true"></app-language-selector>

  <button
    mat-icon-button
    [appDropdownTrigger]="dropdown"
    *ngIf="cartItems$ | async as items"
  >
    <mat-icon [matBadge]="items.length" matBadgeColor="accent"
      >shopping_bag</mat-icon
    >
  </button>

  <app-dropdown #dropdown>
    <table *ngIf="cartItems$ | async as items" aria-describedby="desk-cart">
      <span translate *ngIf="items.length <= 0; else showHeader"
        >Your cart is empty</span
      >
      <ng-template #showHeader>
        <tr>
          <th class="align-center" translate>Cover</th>
          <th translate>Name</th>
          <th translate>Series</th>
          <th class="align-center" translate>Remove</th>
        </tr>
      </ng-template>

      <tr *ngFor="let card of items">
        <td class="align-center">
          <img
            width="50px"
            src="{{ card.images.small }}"
            alt="{{ card.name }}"
          />
        </td>
        <td>{{ card.name }}</td>
        <td>{{ card.set.series }}</td>
        <td class="align-center">
          <button mat-button (click)="removeItem(card)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </td>
      </tr>
    </table>
  </app-dropdown>
</mat-toolbar>
