<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
  <div fxHide.gt-sm fxLayoutAlign="start center">
    <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">{{ title }}</span>
  </div>
  <div fxHide.lt-md>
    <a class="brand">Pokémon TCG</a>
    <button mat-button routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span translate>Home</span>
    </button>
    <button mat-button routerLink="/about" routerLinkActive="active">
      <mat-icon>info</mat-icon>
      <span translate>About</span>
    </button>
    <button
      mat-button
      [routerLink]="['/card']"
      [queryParams]="{ page: 1, pageSize: 10, orderBy: 'name' }"
      routerLinkActive="active"
    >
      <mat-icon>find_in_page</mat-icon>
      <span translate>Card</span>
    </button>
  </div>
  <span fxFlex></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>format_color_fill</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="changeTheme()">
      <span translate>Change Theme</span>
    </button>
  </mat-menu>
  <app-language-selector icon="true"></app-language-selector>
  <button mat-icon-button *ngIf="cartItems$ | async as items" [matMenuTriggerFor]="menuDesk">
    <mat-icon [matBadge]="items.length" matBadgeColor="accent">shopping_bag</mat-icon>
    <mat-menu #menuDesk="matMenu">
      <mat-list>
        <mat-list-item *ngIf="items.length <= 0"><span translate>Your cart is empty</span></mat-list-item>
        <mat-list-item *ngFor="let card of items">
          <img width="50px" src="{{ card.images.small }}" alt="{{ card.name }}" />
          <h3 matLine>{{ card.name }}</h3>
          <p matLine>{{ card.supertype }}</p>
          <p matLine>{{ card.set.name }} -- {{ card.set.series }}</p>
        </mat-list-item>
        <mat-list-item *ngIf="items.length > 0">
          <button mat-flat-button (click)="clearDesk()">
            <mat-icon>delete_forever</mat-icon><span translate>Clear Desk</span>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-menu>
  </button>
</mat-toolbar>
