@use "@angular/material" as mat;
@import "src/theme/theme-variables";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.brand {
  color: mat.get-color-from-palette($app-primary, "default-contrast");
  text-decoration: none;
  padding-right: 1rem;
}

.menu-button {
  margin-right: 1rem;
}

.theme-switcher {
  display: flex;
  flex-direction: column;
  margin: 0;

  .mat-radio-button {
    padding: 10px;
  }
}

table {
  margin-top: 20px;
  width: 100%;
}
td,
th {
  border: 1px solid #ddd;
  padding: 4px;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
}
th {
  text-align: left;
  background-color: #d8d8d8;
  font-weight: 400;
  color: #000000;
}

.align-center {
  text-align: center;
}
