@use "@angular/material" as mat;

// @import "src/theme/theme-variables";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.brand {
  // color: mat.get-color-from-palette($app-primary, "default-contrast");
  // text-decoration: none;
  // padding-right: 1rem;
  vertical-align: middle;
}

.menu-button {
  margin-right: 1rem;
}

.theme-switcher {
  display: flex;
  flex-direction: column;
  margin: 0;

  .mat-radio-button {
    padding: 10px;
  }
}

table {
  margin-top: 20px;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #f1f1f1;
}

th {
  text-align: left;
  background-color: #f7f7f7;
  font-weight: 300;
  color: #000;
}

.align-center {
  text-align: center;
}
