<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
  <div fxHide.gt-sm fxLayoutAlign="start center">
    <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">{{ title }}</span>
  </div>
  <div fxHide.lt-md>
    <a class="brand">Pokémon TCG</a>
    <button mat-button routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span translate>Home</span>
    </button>
    <button mat-button routerLink="/about" routerLinkActive="active">
      <mat-icon>info</mat-icon>
      <span translate>About</span>
    </button>
    <button
      mat-button
      [routerLink]="['/card']"
      [queryParams]="{ page: 1, pageSize: 10, orderBy: 'name' }"
      routerLinkActive="active"
    >
      <mat-icon>find_in_page</mat-icon>
      <span translate>Card</span>
    </button>
  </div>
  <span fxFlex></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>format_color_fill</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="changeTheme()">
      <span translate>Change Theme</span>
    </button>
  </mat-menu>
  <app-language-selector icon="true"></app-language-selector>
  <button mat-icon-button>
    <mat-icon matBadge="15" matBadgeColor="warn">shopping_bag</mat-icon>
  </button>
</mat-toolbar>
