/*
* Entry point of global application style.
* Component-specific style should not go here and be included directly as part of the components.
*/
@use "@angular/material" as mat;

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// Theme customization
@import "theme/theme";
@import "theme/custom-component-themes";

// 3rd party libraries
@import "~material-design-icons-iconfont/src/material-design-icons";

// Angular Material custom theme
// The mixins below must be included once so we separated them from the variables

// Change typography
$custom-typography: mat.define-typography-config(
  $font-family: "Arvo, monospace",
  $headline: mat.define-typography-level(32px, 48px, 700),
  $body-1: mat.define-typography-level(16px, 24px, 500),
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core($custom-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($app-theme);
@include custom-components-theme($app-theme);

$p: mat.define-palette(mat.$grey-palette);
$primary-palette: mat.get-color-from-palette($p, 600);
$w: mat.define-palette(mat.$red-palette);
$warn-palette: mat.get-color-from-palette($w, a400);

.snackbar-fail {
  background: $warn-palette;
  color: white;
  width: 500px;

  button {
    color: rgb(255 255 255);
    border: none;
  }
}

.dark-theme {
  @include mat.all-component-themes($app-dark-theme);

  .snackbar-fail {
    background: #ff0800;
    color: white;
    width: 500px;

    button {
      background-color: #f44336;
      color: rgb(255 255 255);
      border: none;
    }
  }

  // @include mat-toolbar-theme($app-theme);
}

html,
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  height: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: flex-start;
}

.flex-item {
  flex: 0 0 auto;
  align-self: flex-start;
}

.snackbar {
  background: $primary-palette;
  color: #fff;
  width: 500px;
}

.mat-snack-bar-container {
  max-width: 100%;
}
