<div class="container">
  <mat-card>
    <p>
      <img class="logo" src="assets/pokemon.jpeg" alt="pockemon logo" />
    </p>
    <mat-card-content>
      <mat-card-title translate>Hello Pokemon !</mat-card-title>
      <mat-card-subtitle> </mat-card-subtitle>
      <mat-card-actions>
        <button
          mat-raised-button
          angulartics2On="click"
          angularticsAction="Click button below quote"
          [angularticsCategory]="cards"
        >
          Click to see cards
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
